.main-page{
    padding: 2%;
}
.page-content{
    margin: 2%;
}
.page-heading{
    font-size: 3rem;
    top: 40vh;
}
.heading-2{
    font-size: 2rem;
}
.heading-3{
    font-size: 2rem;
}
.section-content{
    margin: 2%;
}
.italics{
    font-style: italic;
}
.sec-image{
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    max-width: 80%;
}
.bold{
    font-weight: bold;
}
.bold-italics{
    font-weight: bold;
    font-style: italic;
}
.link{
    text-decoration: none;
    color: blue;
}

.tableDiv{
    border: 2px solid black;
}
.tableDiv td{
    border: 0.5px solid rgb(68, 68, 68);
    padding: 5px;
}